@model IEnumerable<CPM.DAL.ClaimRpt.CustwiseClaim>
@using CPM.Helper           
@{ ViewBag.Title = "Customerwise Claim count"; }
@{string dataFormat = " ['{0}', {1}],"; int count = Model.Count() - 1;}
@{  //DOESN'T render section FootContent

    @* MAKE SURE THIS IS INCLUDED IN THE MAIN/PARENT REPORT PAGE *@
   <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    @* HT: DON'T use defer = defer in script below *@
    <script type="text/javascript">               
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
          ['Brand', 'Claim count'],
@{ int i = 0;
   foreach (var data in Model)
   {
       if (i++ < count)
       { @Html.Raw(string.Format(dataFormat, data.DspText, data.Count.ToString()))  }
       else
       { @Html.Raw(string.Format(dataFormat.TrimEnd(Defaults.reportDataTrim), data.DspText, data.Count.ToString()))  }
                }
}
          /* Sample: ['Work', 11], */
        ]);

            var options = { // https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart
                title: 'Customer Claim Count',
                tooltip:{text:"label", trigger:"hover"},
                sliceVisibilityThreshold:6/1000, // won't show slices which are below 6% set to 0 to show all in legends
                pieResidueSliceLabel:"other customers below 3 claims"
                //,pieSliceText:"label"
                //,legend:{position:"bottom"}
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }                
       try{
       google.load("visualization", "1", { packages: ["corechart"] });
       google.setOnLoadCallback(drawChart);
        drawChart(); } catch(ex){} /*Manually draw chart - for AJAX - try catch for delayed loading */
    </script>
}
<div id="chart_div" style="width: 900px; height: 500px; text-align:center"></div>