@model IEnumerable<CPM.DAL.ClaimRpt.YearlyClaim>
@using CPM.Helper           
@{ ViewBag.Title = "Yearly Claim"; }
@{string dataFormat = " ['{0}', {1}, {2}],";     int count = Model.Count()-1;}
@{  //DOESN'T render section FootContent

    @* MAKE SURE THIS IS INCLUDED IN THE MAIN/PARENT REPORT PAGE *@
   <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    @* HT: DON'T use defer = defer in script below *@
    <script type="text/javascript"> 
    var chart = "", data="";//Make it global so that it can be used in the event handler
        function drawChart() {
            data = google.visualization.arrayToDataTable([
          ['Year', 'Claim count','Yr'],
@{ int i = 0; 
foreach(var data in Model){
    if(i++ < count){ @Html.Raw(string.Format(dataFormat, data.DspText, data.Count.ToString(),data.Yr))  }
    else{ @Html.Raw(string.Format(dataFormat.TrimEnd(Defaults.reportDataTrim), data.DspText, data.Count.ToString(),data.Yr))  }
                }
}
          /* Sample: ['Work', 11], */
        ]);       

            var options = { title: 'Yearwise Claim Count' };
            chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            google.visualization.events.addListener(chart, 'select', selectHandler);
        }                
           try{
           google.load("visualization", "1", { packages: ["corechart"] });
           google.setOnLoadCallback(drawChart);
            drawChart(); 
            } catch(ex){} /*Manually draw chart - for AJAX - try catch for delayed loading */ 
            
        function selectHandler(){
          var cell = chartPieSelectHandler(chart,data,2);//make sure common.js is included

          if (cell!= null) {//Reload the YearClaimItem report
            var url = '@Html.Raw(Url.Action("ClaimReport", "Report", new { reportStr = "YearClaimItem" , data = ""}))' + cell;
            reload(url, url, "#tdSubReport");
          }          
        }      
    </script>
}
<div id="chart_div" style="width: 600px; height: 500px; text-align:center"></div>